.header__logo {
  background-image: url(../../../images/Logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 142px;
  height: 33px;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 104px;
    height: 25px;
    margin-left: 27px;
  }
}
