.popup__input-error {
  display: block;
  max-width: 358px;
  min-height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  margin: 0;
  opacity: 0;
}
