.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 880px;
  min-height: 120px;
  margin: 0 auto;
  padding: 40px 0 50px 0;
}

@media screen and (max-width: 768px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    min-height: 286px;
    padding: 42px 0 36px 0;
  }
}
